[general]
{{- if eq .chezmoi.fqdnHostname "Vighneshs-MacBook-Air.local" }}
working_directory = "/Users/vighnesh/home"
{{- end }}
live_config_reload = true

[window]
decorations = "Buttonless"

[window.dimensions]
columns = 150
lines = 70

[window.padding]
{{- if eq .chezmoi.fqdnHostname "Vighneshs-MacBook-Air.local" }}
x = 5
y = 0
{{- else }}
x = 0
y = 0
{{- end }}

[scrolling]
history = 10000
{{- if eq .chezmoi.fqdnHostname "vighnesh-z16" }}
multiplier = 3
{{- end }}

[font]
{{- if eq .chezmoi.fqdnHostname "vighnesh-t480" }}
size = 9.0
{{- end}}
{{- if eq .chezmoi.fqdnHostname "vighnesh-z16" }}
size = 11.0
{{- end}}
{{- if eq .chezmoi.fqdnHostname "Vighneshs-MacBook-Air.local" }}
size = 13.0
{{- end}}

[font.normal]
family = "SauceCodePro Nerd Font Mono"
style = "Regular"

[font.bold]
family = "SauceCodePro Nerd Font Mono"
style = "Bold"

[font.bold_italic]
family = "SauceCodePro Nerd Font Mono"
style = "Bold Italic"

[font.italic]
family = "SauceCodePro Nerd Font Mono"
style = "Italic"

[colors]
draw_bold_text_with_bright_colors = true

# https://github.com/tokyo-night/tokyo-night-vscode-theme/blob/master/themes/tokyo-night-color-theme.json#L346
[colors.primary]
{{- if eq .chezmoi.fqdnHostname "vighnesh-z16" }}
background = '#1a1b26'
{{- else }}
background = '#16161e'
{{- end }}
# foreground = '#787c99'
foreground = '#e6e7ed' # This is actually Tokyo Night Light's background color

[colors.cursor]
cursor = '#787c99' # Terminal White
text = '#16161e' # Background (black)

# Normal colors
[colors.normal]
black = '#363b54'
red = '#f7768e'
green = '#73daca'
yellow = '#e0af68'
blue = '#7aa2f7'
magenta = '#bb9af7'
cyan = '#7dcfff'
white = '#787c99'

# Bright colors
[colors.bright]
black = '#363b54'
red = '#f7768e'
green = '#73daca'
yellow = '#e0af68'
blue = '#7aa2f7'
magenta = '#bb9af7'
cyan = '#7dcfff'
white = '#acb0d0'

# Indexed Colors
# https://gist.github.com/arthurk/d90b9f6c107dbe66db61f297fbdb643c#file-foot-ini-L25
[[colors.indexed_colors]]
index = 16
color = '#ff9e64' # Orange

[[colors.indexed_colors]]
index = 17
color = '#db4b4b' # Reddish-brown

[cursor]
style = "Beam"
thickness = 0.2

[terminal]
{{- if eq .chezmoi.fqdnHostname "Vighneshs-MacBook-Air.local" }}
shell = "/opt/homebrew/bin/fish"
{{- end }}
{{- if eq .chezmoi.fqdnHostname "vighnesh-macbook-pax" }}
shell = "/opt/homebrew/bin/fish"
{{- end }}
